gene_expression/single_nucleus/expression_data/single-nucleus/cellranger/NC_nves/
gene_expression/single_nucleus/expression_data/single-nucleus/cellranger/FC_nves/
gene_expression/single_nucleus/Nicves_beetle_final_seurat_obj.rds
genome_assembly/genome_files/genome/Ni2.purged.folded.filtered_scaffolds_final.sm.renamed.fa